*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #F1F1F1;
}

.main-content{
    min-height: 118vh;
    width: 70%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 26px;
}

.main-content .left-section{

    grid-row-start: 1;
    grid-row-end: 3;
}
.left-section{
    /* min-height: 100vh; */
    background-color: #FFFFFF;
}

.profile{
    width: 100%;
    height: 20%;
    overflow: hidden; /* Hide any overflow if the image is larger */
    background-color: #F2EEEF;
    position: relative;
    display: inline-block;

}

.profile img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.name{
    position: absolute;
  top: 50%; /* Adjust the top position to center vertically */
  left: 50%; /* Adjust the left position to center horizontally */
  transform: translate(-50%, -50%); /* Center the text within the container */
  background-color: rgba(0, 0, 0, 0.5); /* Add a background color for better text visibility */
  color: #fff; /* Set the text color */
  padding: 10px; /* Add padding for better readability */
  font-size: 18px; /* Set the font size */
}

.details ul li{
    list-style: none;
    padding: 10px;
    margin-left: 10px;
    color: RGB(117, 117, 117);
    font-size:15px;
    line-height: 22.5px
}

.details ul span{
    padding-left: 15px;
}

.details ul li i{
    color: #009688;
}

.details hr{
    margin-left: 15px;
    border: 0;
    border-top: 1px solid rgb(238,238,238);
    width: 85%
      
}

.skill-details ul li{
    list-style: none;
    padding: 10px;
    margin-left: 10px;
    color: #757575;
    font-size:15px;
    line-height: 0;
}

.skill-details h4 i{
    color: #009688;

}

.skill-details h4  span{
    padding-left: 15px;
}

.skill-details h4{
    color: #757579;
    padding: 10px;
    margin-left: 10px;
    margin-top: 18px;
    font-size:18px;
    font-family: "Roboto", sans-serif;

}

.skill-details ul li .skill{
    color: #009688;
}

.skill-details ul .color{
    color: #009688;

}

.skill-details .progress-bar {
    width: 91%;
    background-color: #F1F1F1;
    border-radius: 20px; /* Adjust the border-radius to make it more or less rounded */
    height: 20px;
    margin: 20px;
    /* overflow: hidden; Hide the overflowing progress */
    position: relative;
}

.skill-details .progress-bar .progress {
    height: 100%;
    background: #009688; /* Adjust the colors */
   border-radius: 20px;
}

.skill-details .progress-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Set the text color */
    font-size: 13px; 
  }

.skill-details .text1{

    position: absolute;
    top: 2px;
    left: 140px;
    color: #fff;
    font-size: 13px; 

}
.skill-details .text2{

    position: absolute;
    top: 2px;
    left: 138px;
    color: #fff;
    font-size: 13px; 

}
.skill-details .text3{

    position: absolute;
    top: 2px;
    left: 135px;
    color: #fff;
    font-size: 13px; 

}

.skill-details .text4{

    position: absolute;
    top: 2px;
    left: 130px;
    color: #fff;
    font-size: 13px; 

}

.lang-details ul li{
    list-style: none;
    padding: 14px;
    margin-left: 10px;
    color: #757575;
    font-size:15px;
    line-height: 0;
}

.lang-details h4{
    color: #757579;
    padding: 10px;
    margin-left: 10px;
    margin-top: 18px;
    font-size:18px;
    font-family: "Roboto", sans-serif;

}

.lang-details h4 span{
    padding-left: 15px;
}

.lang-details .progress-bar {
    width: 91%;
    background-color: #F1F1F1;
    border-radius: 20px; /* Adjust the border-radius to make it more or less rounded */
    height: 27px;
    margin: 20px;
    /* overflow: hidden; Hide the overflowing progress */
    position: relative;
}

.lang-details .progress-bar .progress {
    height: 100%;
    background: #009688; /* Adjust the colors */
   border-radius: 20px;
}

.work-exp{
    background-color: #FFFFFF;
    color: #757575;
    font-size: 30px;
}

.work-head{
    margin: 20px;
}

/* space btw icon and head */

.work-exp span{
    margin-left: 20px;

}

.work-exp ul li{
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    padding: 10px;
    margin-left: 17px;

}
.inner-div{
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    padding: 15px;
}
.exp-period{
    font-size: 16px;
    color: teal;
    margin-left: 20px;
    padding: 15px;
}

.exp-period .button4 {
    border-radius: 5px;
}

.btn {
    background-color:rgb(0, 150, 136);
    border: none;
    color: white;
    /* padding: 20px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 19px;
  }

.exp-period .btn1{
    margin: 7px;
    font-size: 16px;
}
.exp-period .exp-descrip{
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-top: 10px;
    line-height: 22.5px;
}

.work-exp hr{
    border: 0;
    border-top: 1px solid rgb(238,238,238);
    margin-top: 20px;
}

.work-exp .exp-last{
    margin-bottom: 20px;
}

.education{
    background-color: #FFFFFF;
}